.pomodoro-container{
    background: rgba(239, 242, 246, 0.71);
    border-radius: 8px;
    margin-top: 35px;
}
.pomodoro-container p{
    margin-top:0px;
}
.pomodoro-container h1{
    margin:0px;
}

#timeDisplay{
    font-size: 32px;
}

form input {
    border-radius: 16px;
    padding:8px;
    border: none;
    min-width: 0px;
}

.form-input div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width:100%;
}

.form-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
}

#pomodoro-during {
    display:none; 
}

*:disabled:hover {
    cursor: not-allowed;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

@media(max-width:800px){
    .pomodoro-container{
        margin-top: 0px;
    }
}